<!-- hw/templates/hw/about.html-->
{% extends 'hw/base.html' %}

{% block content %}
    <h1>About this page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptate alias quisquam harum, aliquid aperiam, natus dicta reprehenderit earum optio totam modi unde laudantium at, illum eos quas veniam laboriosam?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque excepturi molestias harum facilis itaque ullam asperiores explicabo iure dignissimos aperiam? Fugiat ab iure culpa et quasi quos debitis illum corrupti?
    </p>
{% endblock %}
