<!-- File: restaurant/templates/restaurant/main.html-->
<!-- Author: Louise Lee, llouise@bu.edu, 09/14/2025 -->
<!-- Description: Home page to introduce restaurant -->

<!-- Apply the base layout -->
{% extends 'restaurant/base.html' %}

<!-- Content within the base layout -->
{% block content %}
    <h1>Welcome to the Finest Fried Chicken</h1>
    <p><img src="{{feast}}" alt="Assortment of food"></p>
    <hr>
    <p><strong>Location:</strong> 636 Beacon St, Boston, MA 02215</p>
    <p><img src="{{outside}}" alt="Store outside"></p>

    <p><strong>Opening Hours:</strong> Mon - Sun: 11AM - 10PM</p>
    <p><img src="{{inside}}" alt="Store inside"></p>
    <p><img src="{{chicken}}" alt="Chicken bowl"></p>

{% endblock %}