<!-- File: restaurant/templates/restaurant/order.html -->
<!-- Name: Louise -->
<!-- Description:  -->

{% extends 'restaurant/base.html' %}

{% block content %}
<div>
    <h1>Place Your Order</h1>
    <form action="{% url 'confirmation_page' %}" method="POST">
        {% csrf_token %}

    <h3>~~ Daily Special Sauces - $2 ~~</h3>
        <input type="checkbox" name="special" value="{{special}}"> {{special}}
    <br><br>

    <h3>~~ Regular menu ~~</h3>
    <h4>CHICKEN WINGS (set of 8) - $15</h4>
        <input type="checkbox" name="wings" value="golden"> Golden original
        <input type="checkbox" name="wings" value="cheesling"> Cheesling
        <input type="checkbox" name="wings" value="honey"> Honey garlic
        <input type="checkbox" name="wings" value="soy"> Soy garlic
        <input type="checkbox" name="wings" value="hot"> Hot spicy
        <em>Spiciness for Hot spicy:</em>
        <input type="radio" name="hot_spice" value="same"> same
        <input type="radio" name="hot_spice" value="more"> more
        <input type="radio" name="hot_spice" value="less"> less
        <br><br>
    <br>

    <h4>SIDES</h4>
        <input type="checkbox" name="sides" value="radish"> Pickled radish ($1)
        <input type="checkbox" name="sides" value="rice"> Steamed rice ($2)
        <input type="checkbox" name="sides" value="coleslaw">Cole slaw ($4)
        <input type="checkbox" name="sides" value="fries"> French fries ($7)
        <input type="checkbox" name="sides" value="sticks"> Cheese sticks ($8)
    <br><br>

    <h3>- Contact Details -</h3>
        Name: <input type="text" name="name">
        Phone Number: <input type="text" name="phone">
        Email: <input type="text" name="email">

    <br>

    <h3>- Special Instructions -</h3>
        <input type="text" name="instructions">
    <br><br>

    <input type="submit">
    </form>
</div>
{% endblock content %}