<!-- blog/article.html-->
{%extends 'blog/base.html'%}

{% block content %}
<h1>{{article.title}}</h1>

<!-- {{articles}} -->

<main class="grid-container">
    <!-- Scriplet for loop -->
    <article class="featured">
        <img src="{{article.image_url}}" alt = "image">
        <div>
        <h2>{{article.title}}</h2>
        <h3>by {{article.author}} at {{article.published}}</h3>
        <p> {{article.text}}</p>
        </div>
        <hr>
    </article>

        <!-- DIsplay comments on article-->
        {% for comment in article.get_all_comments %}
        <div>
            <strong>by {{comment.author}} at {{comment.published}}</strong>
            <p> {{comment.text}} </p>
        </div>
        {% endfor %}
</main>
{% endblock %}