<!-- blog/show_all.html-->
{%extends 'blog/base.html'%}

{% block content %}
<h1>Show all articles</h1>

<!-- {{articles}} -->

<main class="grid-container">
    <!-- Scriplet for loop -->
    {% for article in articles %}
    <article>
        <div>
        <h2>{{article.title}}</h2>
        <h3>by {{article.author}}</h3>
        <p> {{article.text}}</p>
        </div>
        <a href="{% url 'article' article.pk %}">
        <!-- <img src="{{article.image_url}}" alt = "image"> -->
        {% if article.image_file %}
        <img src="{{article.image_file.url}}" alt = "">
        {% else %}
        No image
        {% endif %}
        </a>
        <hr>
    </article>
    {% endfor %}
</main>
{% endblock %}