<!-- File: mini_insta/templates/mini_insta/base.html-->
<!-- Author: Louise Lee, llouise@bu.edu, 09/24/2025 -->
<!-- Description: Reusable, consistent structure with a navigation bar and a content block -->

{% load static %}


<html>
    <head><title>MiniInsta1</title></head>
    <link rel="stylesheet" href="{% static 'styles-insta.css' %}">
</head>

<body>
    <head>
        <h1>MiniInsta</h1>
        <nav>
            <ul>
              <li><a href="{% url 'show_all' %}">Show All</a></li>
            </ul>
          </nav>
    </head>
</body>
{% block content %}
{% endblock %}
</html>