<!-- File: mini_insta/templates/mini_insta/base.html-->
<!-- Author: Louise Lee, llouise@bu.edu, 09/24/2025 -->
<!-- Description: Reusable, consistent structure with a navigation bar and a content block -->

{% load static %}
<html>
  <!-- Title and styling to apply -->
  <head>
    <title>MiniInsta</title>
    <link rel="stylesheet" href="{% static 'styles-insta.css' %}">
  </head>

  <!-- Content of other html -->
  <body>
    {% block content %}
    {% endblock %}

    <!-- Footer with show_all_profile again and profile image if on show_profile-->
    <div class = footer>
      <a href="{% url 'show_all_profiles' %}"> Show All Profiles</a>
      {% if profile %}
      <a href="{% url 'show_profile' profile.pk %}">
        <img class = "footer-pfp" src="{{ profile.profile_image_url }}" alt="Profile image">
      </a>
      {% endif %}
    </div>

  </body>
</html>