<!-- File: mini_insta/templates/mini_insta/create_post_form.html-->
<!-- Author: Louise Lee, llouise@bu.edu, 10/01/2025 -->
<!-- Description: Form display for creating a post -->

{%extends 'mini_insta/base.html'%}

{% block content %}
<h1>@{{profile.username}}: Create A Post</h1>

<!-- Display HTML form -->
<form action="{% url 'create_post' profile.pk %}" method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tr>
        <th><label for="id_files">Upload image(s):</label></th>
        <td>
          <input id="id_files" type="file" name="files" multiple accept="image/*">
        </td>
      </tr>
      {{ form.as_table }}
    </table>

    <input type="submit" name="submit" value="Submit" class="btn">
    <a href="{% url 'show_profile' profile.pk %}" class="btn">Cancel</a>
</form>


{% endblock %}