<!-- File: mini_insta/templates/mini_insta/show_all_profiles.html-->
<!-- Author: Louise Lee, llouise@bu.edu, 09/24/2025 -->
<!-- Description: Reusable, consistent structure with a navigation bar and a content block
Shows all profile in a grid linking to individual profiles -->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h1>MiniInsta Profiles</h1>

<!-- For loop to show the clickable profile images of users, go the the primary key page -->
<main class="grid-container">
    {% for profile in profiles %}
    <a class="profile-card"
        href="{% url 'show_profile' profile.pk %}"
        aria-label="{{ profile.username }}">
        <img src="{{ profile.profile_image_url }}"
            alt="Profile image">
    </a>
    {% endfor %}
</main>
{% endblock %}
