<!-- File: mini_insta/templates/mini_insta/show_all_profiles.html-->
<!-- Author: Louise Lee, llouise@bu.edu, 09/25/2025 -->
<!-- Description: Displays a single Profile in detail with placeholders for future features -->

{% extends 'mini_insta/base.html' %}

<!-- Layout of an individual profile view -->
{% block content %}
<h1>MiniInsta: @{{profile.username}}</h1>

<main class="profile-container">
  <section class="profile">
    <img src="{{ profile.profile_image_url }}"
         alt="Profile image">

    <div class="profile-fields">
      <h2 class="display-name">{{ profile.display_name|default:profile.username }}</h2>

      <div class="stats">
        <div>
            <!-- Stat placeholders -->
          <strong>TBD</strong>
          <small>posts</small>
        </div>
        <div>
          <strong>TBD</strong>
          <small>followers</small>
        </div>
        <div>
          <strong>TBD</strong>
          <small>following</small>
        </div>
      </div>
    </div>
  </section>

  <!-- BIO -->
  <ul class="bio">
        <li>Bio: {{ profile.bio_text }}</li>
        <li>Joined: {{profile.join_date}}</li>
        <a href="{% url 'update_profile' profile.pk %}" class="btn">Update Profile</a>

  </ul>

  <!-- POSTS -->
  <ul class="posts-grid">
    {% for post in profile.get_all_posts %}
      <li class="post-card">
        <a href="{% url 'post_detail' post.pk %}">
          {% for photo in post.get_all_photos|slice:":1" %}
            {% with url=photo.get_image_url %}
              {% if url %}
                <img src="{{ url }}" alt="Post image">
              {% else %}
                <div class="no-image">No image</div>
              {% endif %}
            {% endwith %}
          {% empty %}
            <div class="no-image">No image</div>
          {% endfor %}
        </a>
      </li>
    {% endfor %}
  </ul>
  

</main>
{% endblock %}